@import "tailwindcss";



html {
  color-scheme: light;
  background: white;
}

html.dark {
  color-scheme: dark;
  background: #0f1c23;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
}
  /* ✅ Stop animation when hovered */
.pause-animation {
  animation-play-state: paused !important;
}
@config "../../tailwind.config.js"

